---
import BaseLayout from "../layouts/BaseLayout.astro";
import Obscurity from "../components/Obscurity.vue";
import Mood from "../components/Mood.vue";
import Genres from "../components/Genres.vue";
import Artists from "../components/Artists.vue";
import Tracks from "../components/Tracks.vue";
---

<BaseLayout isLoggedIn>
  <main class="flex flex-col gap-y-4 px-8 mt-32">
    <Obscurity client:load />
    <Mood client:load />
    <Genres client:load />
    <Artists client:load />
    <Tracks client:load />
  </main>
</BaseLayout>
