---
import BaseLayout from "../layouts/BaseLayout.astro";
import Obscurity from "../components/Obscurity.svelte";
import Mood from "../components/Mood.svelte";
import Genres from "../components/Genres.svelte";
import Artists from "../components/Artists.svelte";
import Tracks from "../components/Tracks.svelte";
---

<BaseLayout isLoggedIn>
  <main class="max-w-5xl flex flex-col gap-y-8 px-8 mt-32">
    <Obscurity client:only />
    <Mood client:only />
    <Genres client:only />
    <Artists client:only />
    <Tracks client:only />
  </main>
</BaseLayout>