---
import Layout from "../layouts/Layout.astro";
import TimeRangeSelector from "../components/TimeRangeSelector.svelte";
import TracksContainer from "../components/TracksContainer.astro";
import MoodContainer from "../components/MoodContainer.astro";
import GenresContainer from "../components/GenresContainer.astro";
import ArtistsContainer from "../components/ArtistsContainer.astro";
---

<Layout title="Top for Spotify | My stats">
	<main class="flex flex-col items-center gap-y-8">
        <a href="/" class="hover:scale-105 transition transform-gpu ease-in-out mt-8">
            <h1 class="text-5xl uppercase font-bold text-center">Top for Spotify</h1>
        </a>
        <TimeRangeSelector client:load />
        <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 xl:grid-cols-4">
            <MoodContainer />
            <GenresContainer />
            <ArtistsContainer />
            <TracksContainer />
        </div>
	</main>
</Layout>

<script>
    import share from "../lib/share.js";

    // @ts-ignore
    window.share = share;
</script>
