---
import Artists from "./Artists.svelte";
import UserName from './UserName.svelte';
---

<div class="flex flex-col items-center gap-y-2 border-2 pb-2 rounded-3xl">
    <div id="Top Artists" class="p-4 rounded-3xl w-72 h-128 flex flex-col justify-between bg-gradient-to-r from-yellow-400 to-pink-500 font-bold text-white">
        <UserName client:only />
        <div class="flex flex-col gap-y-2">
            <h2 class="text-4xl uppercase">Top Artists</h2>
            <Artists client:only />
        </div>
        <h2 class="text-right">Top for Spotify</h2>
    </div>
    <button onclick="share('Top Artists')" class="text-white bg-green-500 hover:bg-green-600 transition transform-gpu ease-in-out px-4 py-2 rounded-xl">
        Share ↗️
    </button>
</div>