---
import { Icon } from "astro-icon";
---

<footer class="flex divide-x items-center mb-4">
  <div class="px-2">
    MIT Licensed
  </div>
  <div class="px-2">
    © 2021 Manuel Quarneti
  </div>
  <div class="px-2">
    <a class="block" href="https://github.com/mq1/top-for-spotify">
      <Icon class="h-6" name="feather:github" />
    </a>
  </div>
</footer>
