---
import Genres from './Genres.svelte';
---

<div
    class="p-8 sm:p-16 rounded-3xl w-full flex flex-col gap-y-16 bg-gradient-to-r from-green-400 to-blue-500 font-bold text-white uppercase"
>
    <h2 class="text-5xl sm:text-7xl">Genres</h2>
    <ol class="list-decimal text-left leading-loose text-2xl ml-8">
        <Genres client:only />
    </ol>
</div>
