---
import { Icon } from "astro-icon";
import TimeRangeSelector from "./TimeRangeSelector.tsx";
import UserImage from "./UserImage.tsx";
import LogoutButton from "./LogoutButton.tsx";
import ShareButton from "./ShareButton.tsx";

const { isLoggedIn } = Astro.props;
---

<div class="flex flex-wrap justify-center gap-4 p-4 fixed z-10 bg-white dark:bg-black w-full border-b-2 border-gray-200 dark:border-gray-700">
  <h1 class="text-5xl font-bold">Top for Spotify</h1>
  {() => {
    if (isLoggedIn)
      return (
        <TimeRangeSelector client:load />
        <UserImage client:load />
        <LogoutButton client:load>
          <Icon class="h-6" name="feather:log-out" />
        </LogoutButton>
        <ShareButton client:load>
          <Icon class="h-6" name="feather:share" />
        </ShareButton>
      )
  }}
  
</div>
