---
import { Icon } from "astro-icon";
import TimeRangeSelector from "./TimeRangeSelector.svelte";
import UserImage from "./UserImage.svelte";
import LogoutButton from "./LogoutButton.svelte";
import ShareButton from "./ShareButton.svelte";

const { isLoggedIn } = Astro.props;
---

<div
  class="flex flex-wrap justify-between items-center gap-4 p-4 fixed z-10 bg-white dark:bg-black w-full border-b-2 border-gray-200 dark:border-gray-700">
  <div>
    {() => {
    if (isLoggedIn)
    return (
    <TimeRangeSelector client:load />
    )
    }
    }
  </div>
  <h1 class="text-3xl font-bold hidden sm:block">Top for Spotify</h1>
  <div class="flex gap-4">
    {() => {
    if (isLoggedIn)
    return (
    <UserImage client:only />
    <ShareButton client:only>
      <Icon class="h-6" name="feather:share" />
    </ShareButton>
    <LogoutButton client:only>
      <Icon class="h-6" name="feather:log-out" />
    </LogoutButton>
    )
    }}
  </div>
</div>