---
import Acousticness from './Acousticness.svelte';
import Danceability from './Danceability.svelte';
import Energy from './Energy.svelte';
import Happiness from './Happiness.svelte';
---

<div class="p-8 sm:p-16 rounded-3xl w-full flex flex-col gap-y-16 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 font-bold text-white uppercase">
    <h2 class="text-5xl sm:text-7xl">Mood</h2>
    <div class="flex flex-col gap-y-4">
        <Acousticness client:only />
        <Danceability client:only />
        <Energy client:only />
        <Happiness client:only />
    </div>
</div>
