---
import Obscurity from './Obscurity.svelte';
---

<div class="bg-black text-white p-16 rounded-3xl w-full">
    <h2 class="text-5xl sm:text-7xl uppercase font-bold mb-8">Obscurity</h2>
    <Obscurity client:only />
</div>
