---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const title = "Top for Spotify";

const { isLoggedIn } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A simple Spotify stats viewer">
  <title>{title}</title>
</head>

<body class="min-h-screen flex flex-col items-center justify-between gap-y-8 dark:bg-black dark:text-white">
  <Header isLoggedIn={isLoggedIn} />
  <div />
  <slot />
  <Footer />
</body>

</html>